@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.home-text {
    font-family: "Mulish", sans-serif;
    color: #e8e8e8;
    font-size: 90px; /* Large size for desktop */
}

.home-small {
    font-family: "Mulish", sans-serif;
    color: #e8e8e8;
    font-size: 1.3rem;
}

/* Media queries for mobile responsiveness */
@media (max-width: 640px) {
    .home-text {
        font-size: 2rem; /* Reduced size for mobile */
        line-height: 1.2; /* Improve readability */
    }

    .home-small {
        font-size: 1rem; /* Adjusted for mobile */
    }
}