@import "tailwindcss";
/* index.css */
body {
  background: linear-gradient(135deg, #0d0d0d, #000000, #151515);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Hide scrollbars for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Optional: ensure scroll works even if scrollbar is hidden */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
